{{> layout/header}}
<!--머스태치 문법/ 이렇게 적으면 헤더를 매번 포함할 수 있음-->
<!--리퀘스트에 있는걸 꺼내옴 템플릿 엔진은 리퀘스트에 담음. 데이터르 화면에 전달한게 아님
데이터는 가방에 담음. 화면은 가방에 있는걸 꺼냄.
오브젝트면 if문이 되고, 컬렉션일 떄는 for 문으로 바뀜-->
{{#boardList}}
    <div class="card mb-3">
        <div class="card-body">
            <h4 class="card-title mb-3">{{title}}</h4>
            <a href="/board/{{id}}" class="btn btn-primary">상세보기</a>
        </div>
    </div>
{{/boardList}}

<div class="container p-5">



    <ul class="pagination d-flex justify-content-center">
        <li class="page-item {{#first}}disabled{{/first}} "><a class="page-link" href="?page={{prevPage}}">Previous</a></li>
        <li class="page-item"><a class="page-link" href="?page={{nextPage}}">Next</a></li>
    </ul>

</div>

{{> layout/footer}}